// footer
footer.footer
  .container
    .footer__top 
      a(href="#").footer__logo ООО “РАпарт Сервисез” 2022
      nav.footer__nav 
        ul.footer__list 
          li 
            a(href="#") О компании
          li 
            a(href="#") Каталог
          li 
            a(href="#") Серверы
          li 
            a(href="#") Новости
          li 
            a(href="#") Контакты
          li 
            a(href="#") Cоут
    .footer__bottom 
      .footer__license © ️все права защищены
      a(href="#").footer__link.footer__link--hot-line Горячая линия
      a(href="#").footer__link.footer__link--user-agreement Пользовательское соглашение
//	/footer