extends core/base.pug

block title 
  title О компании

block content

  .page 

    include core/header.pug

    .content 

      include blocks/page-head.pug
      +page-head('О компании')

      // about
      .about
        .container 
          .subtitle Мы видим себя ядром системы материально-технического снабжения российской гражданской авиационной техники. Такой системы, которая была бы одной из причин для заказчиков отдавать предпочтение отечественным самолетам.
          .about__text 
            .row 
              .col-6 Достижение этой цели невозможно без скоординированного приложения усилий всех вовлеченных сторон – авиапроизводителей, поставщиков компонентов, авиакомпаний, центров по техническому обслуживанию и органов власти. RApart использует свое уникальное стратегическое положение – одновременное вхождение в корпоративную структуру дивизиона гражданской авиации и гибкость специализированного центра прибыли для достижения максимально эффективного ведения деятельности. 
              .col-6 Обладая мотивированной и профессиональной командой, РАпарт Сервисез формирует и постоянно совершенствует свою передовую транспортную и складскую инфраструктуру, обеспечивает разумно достаточную финансовую и материальную ресурсную базу, внедряет эффективные бизнес-процессы, развивает отношения с партнерской сетью, а также обеспечивает неукоснительное выполнение требований сертифицированной системы управления качеством таким образом, чтобы полностью удовлетворять требования своих заказчиков, как по скорости поставки запасных частей и услуг по МТО, их качеству, так и по цене.
          .about__items 
            .row 
              .col-6
                .about__item 
                  svg(class="icon-star")
                    use(xlink:href="img/sprite.svg#star")
                  | Работаем с 01 октября 2018 года
              .col-6
                .about__item 
                  svg(class="icon-star")
                    use(xlink:href="img/sprite.svg#star")
                  | Собственная логистика  и транспортная служба
      // /about

      // director
      .director
        .container 
          .subtitle.subtitle--uppercase Лидер компании
          .director__block 
            .director__content 
              .director__name Лукашевичус Денис Ромальдасович
              .director__position Генеральный директор
              .director__quote Основная идея, заложеннная в ДНК РАпарта - повышение доступности для Клиента запасных частей и современных услуг по МТО, при одновременном снижении затрат.
            .director__img 
              img(src="img/director.jpg", alt="")
      // /director

      // staff
      .staff
        .container 

          .staff__slider-head 
            #sliderStaffHead 
              .swiper-wrapper 
                .swiper-slide 
                  .staff__title Совет директоров
                .swiper-slide 
                  .staff__title Заместители генерального директора

          .staff__slider-body 
            #sliderStaffBody 
              .swiper-wrapper 
                .swiper-slide 
                
                  .staff__slider 
                    #sliderStaff
                      .swiper-wrapper 
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-1.jpg", alt="")
                            .staff__name Юорисенко Д.В
                            .staff__text Заместитель ген.директора по послепродажному обслуживанию гражданской АТ ПАО “Корпорация Иркут”
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-2.jpg", alt="")
                            .staff__name Окупов В.М
                            .staff__text Советник Генерального директора по гражданской авиации ПАО “ОАК”
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-3.jpg", alt="")
                            .staff__name Хакимов Р.Р
                            .staff__text Генеральный директор ПАО “Корпорация Иркут”
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-4.jpg", alt="")
                            .staff__name Лекашевичус Д.Р
                            .staff__text Генеральный директор ООО “Рапарт Сервис”
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-5.jpg", alt="")
                            .staff__name Прутковский В.Б
                            .staff__text Заместитель геен.директора, исполнительный директор ПАО “Корпорация Иркут”

                .swiper-slide 
                
                  .staff__slider 
                    #sliderStaff
                      .swiper-wrapper 
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-2.jpg", alt="")
                            .staff__name Окупов В.М
                            .staff__text Советник Генерального директора по гражданской авиации ПАО “ОАК”
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-1.jpg", alt="")
                            .staff__name Юорисенко Д.В
                            .staff__text Заместитель ген.директора по послепродажному обслуживанию гражданской АТ ПАО “Корпорация Иркут”
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-4.jpg", alt="")
                            .staff__name Лекашевичус Д.Р
                            .staff__text Генеральный директор ООО “Рапарт Сервис”
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-5.jpg", alt="")
                            .staff__name Прутковский В.Б
                            .staff__text Заместитель геен.директора, исполнительный директор ПАО “Корпорация Иркут”
                        .swiper-slide 
                          .staff__item 
                            .staff__img 
                              img(src="img/staff/img-3.jpg", alt="")
                            .staff__name Хакимов Р.Р
                            .staff__text Генеральный директор ПАО “Корпорация Иркут”
      // /staff

    include core/footer.pug
