extends core/base.pug

block title 
  title О компании

block content

  .page 

    include core/header.pug

    .content 

      include blocks/page-head.pug
      +page-head('О компании')

      // about
      .about
        .container 
          h2.subtitle Мы видим себя ядром системы материально-технического снабжения российской гражданской авиационной техники. Такой системы, которая была бы одной из причин для заказчиков отдавать предпочтение отечественным самолетам.
          .about__text 
            .row
              .col-6 Достижение этой цели невозможно без скоординированного приложения усилий всех вовлеченных сторон – авиапроизводителей, поставщиков компонентов, авиакомпаний, центров по техническому обслуживанию и органов власти. RApart использует свое уникальное стратегическое положение – одновременное вхождение в корпоративную структуру дивизиона гражданской авиации и гибкость специализированного центра прибыли для достижения максимально эффективного ведения деятельности. 
              .col-6 Обладая мотивированной и профессиональной командой, РАпарт Сервисез формирует и постоянно совершенствует свою передовую транспортную и складскую инфраструктуру, обеспечивает разумно достаточную финансовую и материальную ресурсную базу, внедряет эффективные бизнес-процессы, развивает отношения с партнерской сетью, а также обеспечивает неукоснительное выполнение требований сертифицированной системы управления качеством таким образом, чтобы полностью удовлетворять требования своих заказчиков, как по скорости поставки запасных частей и услуг по МТО, их качеству, так и по цене.
          .about__text-mobile 
            p Достижение этой цели невозможно без скоординированного приложения усилий всех вовлеченных сторон – авиапроизводителей, поставщиков компонентов, авиакомпаний, центров по техническому обслуживанию и органов власти.
            p(data-textshow="aboutText").hide RApart использует свое уникальное стратегическое положение – одновременное вхождение в корпоративную структуру дивизиона гражданской авиации и гибкость специализированного центра прибыли для достижения максимально эффективного ведения деятельности. 
            p(data-textshow="aboutText").hide Обладая мотивированной и профессиональной командой, РАпарт Сервисез формирует и постоянно совершенствует свою передовую транспортную и складскую инфраструктуру, обеспечивает разумно достаточную финансовую и материальную ресурсную базу, внедряет эффективные бизнес-процессы, развивает отношения с партнерской сетью, а также обеспечивает неукоснительное выполнение требований сертифицированной системы управления качеством таким образом, чтобы полностью удовлетворять требования своих заказчиков, как по скорости поставки запасных частей и услуг по МТО, их качеству, так и по цене.
            .about__more.js-link-text-hide(data-textshow="aboutText") Показать больше
              svg(class="icon-arrow-right-long")
                use(xlink:href="img/sprite.svg#arrow-right-long")
          .about__items 
            .row.gy-2
              .col-md-6
                .about__item 
                  svg(class="icon-star")
                    use(xlink:href="img/sprite.svg#star")
                  | Работаем с 01 октября 2018 года
              .col-md-6
                .about__item 
                  svg(class="icon-star")
                    use(xlink:href="img/sprite.svg#star")
                  | Собственная логистика  и транспортная служба
      // /about

      // director
      .director
        .container 
          h2.subtitle.subtitle--uppercase Лидер компании
          .director__block 
            .director__content 
              .director__name Лукашевичус Денис Ромальдасович
              .director__position Генеральный директор
              .director__quote Основная идея, заложеннная в ДНК РАпарта - повышение доступности для Клиента запасных частей и современных услуг по МТО, при одновременном снижении затрат.
            .director__img 
              img(src="img/director.jpg", alt="")
      // /director

      // staff
      .staff
        .container 

          .js-tabs

            .staff__head 
              ul
                li 
                  a(href="#tabStaff_0").staff__title.js-tabs-trigger.active Совет директоров
                li 
                  a(href="#tabStaff_1").staff__title.js-tabs-trigger Заместители генерального директора
            div

              .js-tabs-content.open(data-href="#tabStaff_0")
                .staff__slider 
                  .js-sliderStaff
                    .swiper-wrapper 
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-1.jpg", alt="")
                          .staff__name Юорисенко Д.В
                          .staff__text Заместитель ген.директора по послепродажному обслуживанию гражданской АТ ПАО “Корпорация Иркут”
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-2.jpg", alt="")
                          .staff__name Окупов В.М
                          .staff__text Советник Генерального директора по гражданской авиации ПАО “ОАК”
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-3.jpg", alt="")
                          .staff__name Хакимов Р.Р
                          .staff__text Генеральный директор ПАО “Корпорация Иркут”
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-4.jpg", alt="")
                          .staff__name Лекашевичус Д.Р
                          .staff__text Генеральный директор ООО “Рапарт Сервис”
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-5.jpg", alt="")
                          .staff__name Прутковский В.Б
                          .staff__text Заместитель геен.директора, исполнительный директор ПАО “Корпорация Иркут”

              .js-tabs-content(data-href="#tabStaff_1")
                .staff__slider 
                  .js-sliderStaff
                    .swiper-wrapper 
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-2.jpg", alt="")
                          .staff__name Окупов В.М
                          .staff__text Советник Генерального директора по гражданской авиации ПАО “ОАК”
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-1.jpg", alt="")
                          .staff__name Юорисенко Д.В
                          .staff__text Заместитель ген.директора по послепродажному обслуживанию гражданской АТ ПАО “Корпорация Иркут”
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-5.jpg", alt="")
                          .staff__name Прутковский В.Б
                          .staff__text Заместитель геен.директора, исполнительный директор ПАО “Корпорация Иркут”
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-4.jpg", alt="")
                          .staff__name Лекашевичус Д.Р
                          .staff__text Генеральный директор ООО “Рапарт Сервис”
                      .swiper-slide 
                        .staff__item 
                          .staff__img 
                            img(src="img/staff/img-3.jpg", alt="")
                          .staff__name Хакимов Р.Р
                          .staff__text Генеральный директор ПАО “Корпорация Иркут”
      // /staff

      // tabslider
      .tabslider
        .container 
          .js-tabs

            .tabslider__head 
              ul
                li 
                  a(href="#tabTabslider_0").tabslider__title.js-tabs-trigger.active Галерея 
                li 
                  a(href="#tabTabslider_1").tabslider__title.js-tabs-trigger Сертификаты
            div

              .js-tabs-content.open(data-href="#tabTabslider_0")
                .tabslider__slider-gallery 
                  #sliderGallery 
                    .swiper-wrapper 
                      .swiper-slide 
                        img(src="img/gallery/img-1.jpg", alt="")
                      .swiper-slide 
                        img(src="img/gallery/img-1.jpg", alt="")
                      .swiper-slide 
                        img(src="img/gallery/img-1.jpg", alt="")
                  .sliderGallery__pagination.swiper-pagination
                  .sliderGallery__button.sliderGallery__button--prev.swiper-button-prev
                    svg(class="icon-slider-arrow")
                      use(xlink:href="img/sprite.svg#slider-arrow")
                  .sliderGallery__button.sliderGallery__button--next.swiper-button-next
                    svg(class="icon-slider-arrow")
                      use(xlink:href="img/sprite.svg#slider-arrow")

              .js-tabs-content(data-href="#tabTabslider_1")
                .tabslider__slider-sertificates 
                  #sliderSertificates 
                    .swiper-wrapper 
                      .swiper-slide 
                        a(href="img/sertificates/img-1.jpg" data-fancybox) 
                          img(src="img/sertificates/img-1.jpg", alt="")
                          .tabslider__plus 
                      .swiper-slide 
                        a(href="img/sertificates/img-2.jpg" data-fancybox) 
                          img(src="img/sertificates/img-2.jpg", alt="")
                          .tabslider__plus 
                      .swiper-slide 
                        a(href="img/sertificates/img-3.jpg" data-fancybox) 
                          img(src="img/sertificates/img-3.jpg", alt="")
                          .tabslider__plus 
                      .swiper-slide 
                        a(href="img/sertificates/img-4.jpg" data-fancybox) 
                          img(src="img/sertificates/img-4.jpg", alt="")
                          .tabslider__plus 
                    .sliderSertificates__pagination.swiper-pagination
      // /tabslider

      // partners
      .partners
        .container 
          h2.subtitle.subtitle--uppercase Наши партнеры
          .partners__items 
            .row.g-0
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-1.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-2.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-3.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-4.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-5.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-6.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-7.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-8.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-9.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-10.jpg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-11.png", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-12.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-13.svg", alt="")
              .col-lg-3.col-md-4.col-6
                .partners__item 
                  img(src="img/partners/img-14.png", alt="")
      // /partners

    include core/footer.pug
