extends core/base.pug

block title 
  title Контакты
block content

  .page 

    include core/header.pug

    .content 

      include blocks/page-head.pug
      +page-head('Контакты')

      // contact
      .contact
        .container 
          .row
            .col-lg-5 
              .contact__item 
                .contact__title Общество с ограниченной ответственностью "РАпарт Сервисез"
                .contact__text 41580, Московская область, Солнечногорский район,дер. Дубровки, ул. Аэропортовская, стр.2/2 БЦ "Шерлэнд" (рядом аэропорт Шереметьево терминалы С и В)
              .contact__item 
                .contact__title Адрес склада ООО «РАпарт Сервисез»
                .contact__text 141580, Московская область, Солнечногорский район, дер. Дубровки, ул. Аэропортовская, стр, 6, корп.2
              .contact__item 
                .contact__link 
                  a(href="mailto:sales@rapart.aero") sales@rapart.aero – для клиентов
                .contact__link 
                  a(href="mailto:info@rapart.aero") info@rapart.aero – общий
                .contact__link 
                  a(href="mailto:purchasing@rapart.aero") purchasing@rapart.aero – для поставщиков
              .contact__item 
                .contact__tel 
                  a(href="tel:+74957987544") +7 (495) 798-75-44
            .col-lg-7 
              #map
      // /contact

    include core/footer.pug
