extends core/base.pug

block title 
  title Навигаця по страницам

block content

  .page 

    include core/header.pug

    .content 

      .navpage 
        .container
          h1 Навигаця по страницам
          ul 
            li 
              a(href="home.html") Главная
            li 
              a(href="about.html") О компании

    include core/footer.pug
