extends core/base.pug

block title 
  title Статья

block content

  .page 

    include core/header.pug

    .content 

      // post
      .post
        .container 

          // breadcrumbs
          .breadcrumbs
            ul 
              li 
                a(href="#") Главная
              li 
                a(href="#") Новости
              li 
                span ОАК и МАИ подписали соглашение 
          // /breadcrumbs

          .post__date 02.11.2021
          h1.title ОАК и МАИ подписали соглашение

          .post__slider 
            #sliderPost 
              .swiper-wrapper 
                .swiper-slide 
                  img(src="img/post.jpg", alt="")
                .swiper-slide 
                  img(src="img/post.jpg", alt="")
                .swiper-slide 
                  img(src="img/post.jpg", alt="")
              .post__slider-controll 
                .post__slider-btn.post__slider-btn--prev.swiper-button-prev
                  svg(class="icon-slider-arrow")
                    use(xlink:href="img/sprite.svg#slider-arrow")
                .post__slider-btn.post__slider-btn--next.swiper-button-next
                  svg(class="icon-slider-arrow")
                    use(xlink:href="img/sprite.svg#slider-arrow")
            .post__pagination.swiper-pagination

          .post__text 
            p В рамках деловой программы Международного авиационно-космического салона 21 июля было подписано соглашение о стратегическом сотрудничестве между Московским авиационным институтом и Объединенной авиастроительной корпорацией, целью которого является создание совместного учебного центра по подготовке различных категорий авиационного персонала: инженерно-технического, наземного, летного состава, бортпроводников.

            p Подготовка авиационного персонала будет осуществляться на базе АУЦ «РАТА» (дочерняя компания «РАпарт Сервисез») и основаться на принципах интеграции образования, науки и промышленности. Образовательный процесс будет включать в себя теоретическую и тренажерную подготовку, а также совместное участие в проведении научных исследований и разработок.

            p Генеральный директор ПАО «ОАК» Юрий Слюсарь заявил: «Объединенная авиастроительная корпорация» заинтересована в наращивании своих возможностей по подготовке на современном уровне авиационного персонала для гражданских самолетов. Эту работу мы рассматриваем как важную часть эффективной системы поддержки эксплуатации российских лайнеров нового поколения: «Суперджет 100», МС-21 и Ил-114».

            p «Московский авиационный институт обеспечивает уникальную подготовку кадров по всему жизненному циклу изделий высокотехнологичных систем и техники и готовит комплексных инженеров, в первую очередь, в интересах аэрокосмической промышленности, - отметил ректор МАИ Михаил Погосян. -Активно развиваются существующие направления подготовки, разрабатываются и запускаются новые образовательные программы. В университете уже реализуются программы подготовки авиационного и неавиационного персонала на базе Авиационного учебного центра МАИ. В рамках сотрудничества с ПАО «ОАК» на базе нового учебного центра будет организована подготовка авиационного персонала для гражданских самолетов ПАО «ОАК».

            p Объединенная авиастроительная корпорация (ПАО «ОАК», входит в состав Госкорпорации «Ростех») создана в 2006 году с целью консолидации активов крупнейших авиапредприятий России. Входящие в корпорацию предприятия выпускают самолеты таких всемирно известных брендов как «Су», «МиГ», «Ил», «Ту», «Як», «Бериев», а также новые – Superjet 100 и МС-21. Предприятия OAK выполняют полный цикл работ от проектирования до послепродажного обслуживания и утилизации авиационной техники. Генеральный директор ПАО «ОАК» - вице-президент ОООР «СоюзМаш России» Юрий Борисович Слюсарь.

            p 
              b Департамент корпоративных коммуникаций Тел: +7 (495) 926-1420 <br>
              b ПАО «Объединенная авиастроительная корпорация» Факс: +7 (495) 926-1421

            p Госкорпорация Ростех – одна из крупнейших промышленных компаний России. Объединяет более 800 научных и производственных организаций в 60 регионах страны. Ключевые направления деятельности – авиастроение, радиоэлектроника, медицинские технологии, инновационные материалы и др. В портфель корпорации входят такие известные бренды, как АВТОВАЗ, КАМАЗ, ОАК, «Вертолеты России», ОДК, Уралвагонзавод, «Швабе», Концерн Калашников и др. Ростех активно участвует в реализации всех 12 национальных проектов. Компания является ключевым поставщиком технологий «Умного города», занимается цифровизацией государственного управления, промышленности, социальных отраслей, разрабатывает планы развития технологий беспроводной связи 5G, промышленного интернета вещей, больших данных и блокчейн-систем. Ростех выступает партнером ведущих мировых производителей, таких как Boeing, Airbus, Daimler, Pirelli, Renault и др. Продукция корпорации поставляется более чем в 100 стран мира. Почти треть выручки компании обеспечивает экспорт высокотехнологичной продукции.
          .post__line 
      // /post

      // more-news
      .more-news
        .container 
          h2.more-news__title Другие события
          .more-news__slider 
            #sliderMoreNews 
              .swiper-wrapper 
                .swiper-slide 
                  .more-news__img 
                    img(src="img/news/img-6.jpg", alt="")
                  .more-news__date 02.11.2021
                  .more-news__text Заключено сервисное соглашение с АК "Россия"
                .swiper-slide 
                  .more-news__img 
                    img(src="img/news/img-3.jpg", alt="")
                  .more-news__date 02.11.2021
                  .more-news__text Компания Rapart Services успешно прошла сертификационный аудит
                .swiper-slide 
                  .more-news__img 
                    img(src="img/news/img-5.jpg", alt="")
                  .more-news__date 02.11.2021
                  .more-news__text XV Международный авиационно-космический салон
      // /more-news

    include core/footer.pug
