/* contact */
.contact { 
  margin-bottom: 120px;
  &__item {
    margin-bottom: 50px;
  }
  &__title {
    font-weight: 700;
    font-size: 20px;
    color: $primary_color;
    margin-bottom: 30px;
    transition: 0.1s;
  }
  &__text {
    transition: 0.1s;
  }
  &__link {
    a {
      font-weight: 500;
      color: $text_color;
      @include media-breakpoint-up(md) {
        &:hover {
          color: $primary_color;
        }
      }
    }
  }
  &__tel {
    font-weight: 700;
    font-size: 20px;
    a {
      color: $primary_color;
      @include media-breakpoint-up(md) {
        &:hover {
          color: $primaryHov_color;
        }
      }
    }
  }
  #map {
    height: 100%;
  }
  @include media-breakpoint-down(lg) {
    #map {
      height: 300px;
    }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
    &__item {
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      font-size: 16px;
      line-height: 167.5%;
    }
    &__link {
      font-size: 16px;
    }
    &__tel {
      font-size: 18px;
    }
    #map {
      height: 196px;
    }
  }
}
/* /contact */